@import 'tailwindcss';
@layer theme, base, mui, components, utilities;

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-VariableFont_wdth,wght') format('ttf');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RobotoItalic';
  src: url('Roboto-Italic-VariableFont_wdth,wght') format('ttf');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --primary-gradient: linear-gradient(150deg, #fcfbf5 55%, #ffd85f80 100%);
  --color-dark: #303030;
  --color-light: #fcfbf5;
  --color-darkYellow: #ffd85f;
  --color-lightYellow: #ffd85f80;
  --color-lightGray: #e4e4e7;
  --color-darkGray: #898989;
}

/* * {
  color: var(--color-dark);
} */

/* @custom-variant dark (&:where(.dark, .dark *)); */

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
